<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
  <div class="row">
    <!-- <div class="col-md-3 register-left">

    </div> -->
    <div class="col-lg-12 register-right">

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Client Setting</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input name="latitude" [(ngModel)]="clientSetting.latitude" type="text" class="form-control" placeholder="Latitude *" value="" required />
              </div>

              <div class="form-group">
                <select name="calculationMethod" [(ngModel)]="clientSetting.calculationMethod" class="form-control" required>
                  <!-- <option class="hidden" selected="selected" disabled>Calculation Method</option> -->
                  <option value="" disabled selected>Select Calculation Method</option>

                  <option value="ISNA" >Islamic Society of North America (ISNA)
                  </option>
                  <option value="MWL">Muslim World League (MWL)
                  </option>
                  <option value="MAKKAH">Umm al-Qura, Makkah
                  </option>
                  <option value="EGYPT">Egyptian General Authority of Survey
                  </option>
                  <option value="CUSTOM">Custom
                  </option>
                  <option value="TEHRAN">Institute of Geophysics, University of Tehran</option>
                </select>
              </div>

              <div class="form-group">
                <select name="juristicMethod" [(ngModel)]="clientSetting.juristicMethod" class="form-control" required>
                  <option value="" disabled selected>Select Juristic Method</option>
                  <option value="HANAFI">Hanafi</option>
                  <option value="JAFARI">Ithna Ashari (Jafari)</option>

                </select>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input name="longitude" [(ngModel)]="clientSetting.longitude" type="text" class="form-control" placeholder="Longitude *" value="" required />
              </div>
              <div class="form-group">
                <select name="currency" required [(ngModel)]="clientSetting.currencyId" class="form-control">
                  <!-- <option class="hidden" value="0" disabled>Select Currency</option> -->
                  <option value="null" disabled selected>Select Currency</option>
                  <option *ngFor="let item of currencyList" label={{item.currency}} value="{{item.id}}">{{item.currency}}</option>
                </select>
              </div>


              <button  type="submit" class="btnRegister" (click)="submitClientSetting()">{{buttonName}}</button>

            </div>
          </div>
        </div>


        <!-- <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h3 class="register-heading">Apply as a Hirer</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name *" value="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name *" value="" />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" value="" />
              </div>
              <div class="form-group">
                <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
              </div>


            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password *" value="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
              </div>
              <div class="form-group">
                <select class="form-control">
                  <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                  <option>What is your Birthdate?</option>
                  <option>What is Your old Phone Number</option>
                  <option>What is your Pet Name?</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="`Answer *" value="" />
              </div>
              <input type="submit" class="btnRegister" value="Register" />
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</div>

<button (click)="logout()">Logout</button>
