<div class="container" style="margin-left: 9%; padding: 20px;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <th>Id</th>
            <th>Date</th>
            <th>Fajar Adhaan</th>
            <th>Fajar Iqamah</th>
            <th>Dhuhur Adhaan</th>
            <th>Dhuhur Iqamah</th>
            <th>Asar Adhaan</th>
            <th>Asar Iqamah</th>
            <th>Maghrib Adhaan</th>
            <th>Maghrib Iqamah</th>
            <th>Isha Adhaan</th>
            <th>Isha Iqamah</th>
            <th>Actions</th>

        </thead>
        <tbody >
            <tr *ngFor="let data of prayerTimeArray">
                <td>{{data.id}}</td>
                <td>{{data.date}}</td>
                <td>{{data.fajr_adhaan}}</td>
                <td>{{data.fajr_iqamah}}</td>
                <td>{{data.dhuhr_adhaan}}</td>
                <td>{{data.dhuhr_iqamah}}</td>
                <td>{{data.asr_adhaan}}</td>
                <td>{{data.asr_iqamah}}</td>
                <td>{{data.maghrib_adhaan}}</td>
                <td>{{data.maghrib_iqamah}}</td>
                <td>{{data.isha_adhaan}}</td>
                <td>{{data.isha_iqamah}}</td>
                <td><a (click)="routeToUpdatePrayerTime(data)">Edit</a></td>
    
    
            </tr>
    
        </tbody>


       
    </table>

</div>